{% extends 'main/base.html' %}
{% load static %}
{% block content %}
  <div class="body_bg layout_padding">
    <section class="service_section ">
      <div class="container">
        <div class="heading_container">
          <h2>
            Dog lifestyle
          </h2>
        </div>
      </div>
      {% for post in posts %}
        <div>
          <p> published: {{ post.published_date }}</p>
          <h4><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
          <p>{{ post.text|linebreaksbr }}</p>
        </div>
      {% endfor %}
    </section>
  </div>
{% endblock %}
